.container {
  display: flex;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90vh;
  overflow-y: auto;
  background-color: #eefff7;
  /* flex-1 p-6 bg-gray-100 overflow-y-auto */
}
