.login-container {
  background-color: rgba(238, 255, 247, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  /* padding: 180px 80px; */
  font: 700 36px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  min-height: 100vh;
}

@media (max-width: 991px) {
  .login-container {
    white-space: initial;
    padding: 100px 20px;
  }
}

.login-card {
  border-radius: 10px;
  background-color: rgba(33, 211, 127, 1);
  display: flex;
  width: 35%;
  max-width: 100%;
  flex-direction: column;
  align-items: stretch;
  padding: 40px 80px;
}
.forms {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .login-card {
    white-space: initial;
    padding: 0 20px;
  }
}

.brand-section {
  align-self: center;
  display: flex;
  width: 371px;
  max-width: 100%;
  justify-content: center;
  font-size: 3rem;
}

@media (max-width: 991px) {
  .brand-section {
    font-size: 40px;
    white-space: initial;
  }
}

.brand-text-stock {
  color: rgba(255, 255, 255, 1);
  /* flex-grow: 1; */
}

@media (max-width: 991px) {
  .brand-text-stock {
    font-size: 40px;
  }
}

.brand-text-care {
  color: rgba(3, 31, 16, 1);
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  /* width: 3rem; */
}

@media (max-width: 991px) {
  .brand-text-care {
    font-size: 40px;
  }
}

.logo-image {
  aspect-ratio: 1.08;
  object-fit: contain;
  object-position: center;
  width: 8rem;
  align-self: center;
  max-width: 100%;
  margin: 18px 0 0 19px;
}

.email-label {
  color: rgba(255, 255, 255, 1);
  align-self: start;
  margin-top: 17px;
  font-size: 1.5rem;
  font-weight: 700;
}

.password-label {
  color: rgba(255, 255, 255, 1);
  align-self: start;
  margin-top: 8px;
  font-size: 1.5rem;
  font-weight: 700;
}

.input-field {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  margin-top: 8px;
  flex-shrink: 0;
  height: 3rem;
  outline: none;
}

@media (max-width: 991px) {
  .input-field {
    max-width: 100%;
  }
}

.login-button {
  border-radius: 10px;
  background-color: rgba(77, 254, 161, 1);
  align-self: center;
  display: flex;
  margin-top: 16px;
  width: 40%;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  color: rgba(7, 88, 50, 1);
  justify-content: center;
  padding: 14px 42px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s ease;
  outline: none;
  border: none;
}

.login-button:hover {
  background-color: rgba(67, 234, 141, 1);
  transform: translateY(-2px);
}

@media (max-width: 991px) {
  .login-button {
    white-space: initial;
    padding: 0 20px;
  }
}

.to-registration {
  color: rgba(255, 255, 255, 1);
  margin-top: 16px;
  display: flex;
  font-size: 1rem;
  width: 100%;
  justify-content: space-evenly;
}

.registration-link {
  color: rgba(3, 31, 16, 1);
  text-decoration: none;
}

/* src/pages/Login.css */
.error-message {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fee;
  color: #c33;
  width: 25rem;
  padding: 12px;
  border-radius: 4px;
  margin: 16px 0px;
  border-left: 4px solid #c33;
  font-size: 14px;
}
