.header-container {
  background-color: #21d37f;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  /* w-full bg-white shadow p-4 flex justify-between items-center */
}

.header-titles {
  width: 20%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-left: 2%;
  font-weight: 700;
  color: white;
  justify-content: space-between;
}

.logo {
  width: 100%;
  height: auto;
}

.custom-btn {
  width: 4rem;
  height: 4rem;
  padding: 4px;
  background: none;

  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.custom-btn:hover {
  background-color: rgba(67, 234, 141, 1);
}

.dropbtn {
  width: 4rem;
  height: 4rem;
  padding: 4px;
  background: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 8px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .dropdown-item {
  color: #031f10;
  padding: 12px 16px;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-content .dropdown-item:hover {
  background-color: #eefff7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(67, 234, 141, 1);
}
