.card {
  display: flex;
  width: 30%;
  margin: 1rem 1rem;
  height: 10rem;
  background-color: #21d37f;
  border-radius: 4px;
  justify-content: space-around;
  align-items: center;
}

.card-header {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  align-items: center;
}

.card-btn {
  align-items: center;
  background-color: #16a762;
  height: 2rem;
  width: 70%;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 3px;
}

.card-btn:hover {
  background-color: rgba(67, 234, 141, 1);
}

.card-icon {
  margin-right: 1rem;
  margin-left: 1rem;
}
